[submodule "libtiff"]
	path = libtiff
	url = https://gitlab.com/libtiff/libtiff
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng.git
[submodule "libjpeg"]
	path = libjpeg
	url = https://github.com/LuaDist/libjpeg.git
